/* @font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Meriweather Sans";
    font-weight: 700;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Inter";
    font-weight: 700;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Inter";
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Roboto";
    font-weight: 700;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Roboto";
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Inter";
    font-weight: 600;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Open Sans";
    font-weight: 700;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Mullish";
    font-weight: 700;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Mullish";
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Mullish";
    font-weight: 600;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Plus Jakarta Sans";
    font-weight: 600;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Mullish";
    font-weight: 600;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Lato";
    font-weight: 400;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Roboto";
    font-weight: 900;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Mullish";
    font-weight: 300;
}

@font-face{
    font-display: swap;
    font-style: normal;
    src: url("../../public/fonts");
    font-display: "Inter";
    font-weight: 500;
} */